body {
    padding-top: 20px;
    padding-bottom: 40px;
}
      
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow > hr {
	margin-top: 20px;
}

.sensorblock {
	margin-top: 28px;
}

.sensorblock > div {
	width: 340px;
	height: 120px;
}

.switches > DIV > DIV {
  height: 30px;
}

.switches > DIV > DIV > DIV {
  float: right;
}

#loader {
  text-align: center;
}